/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-select-panel {
	display: flex;
	.frm-select-button {
		width: auto;
		flex: 1;
		&:not(:first-child) {
			label {
				border-left: none;
			}
		}
	}
}
.frm-field-counter {
	display: block;
	position: relative;
	overflow: hidden;
	height: 42px;
	border: 1px solid var(--clr-border);
	padding: 0 52px;
	background: #fff;
	.form-input {
		display: block;
		height: 40px;
		border: none;
		text-align: center;
		padding: 0;
		font-size: 16px;
		line-height: 40px;
		font-weight: 500;
		color: var(--clr-title);
	}
	.btn {
		width: 52px;height: 40px;
		position: absolute;
		top: 0;left: 0;
	}
	.button-plus {
		left: auto;
		right: 0;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type=number]{
		-moz-appearance: textfield;
	}
	.form-input-unit, .form-input-value {
		display: inline;
	}
	.form-input-unit {
		margin-left: 5px;
	}
}
.frm-content {
	&:not(.active) {
		display: none;
	}
}
.frm-row,
.frm-field,
.frm-row-submit {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	line-height: 1;
}
.frm-field {
    display: block;
    width: 100%;
}
.frm-select, .frm-select-button, .frm-select-color, .frm-select-button-small {
	position: relative;
	display: block;
	flex-shrink: 0;
	overflow: hidden;
    line-height: 1;
	input {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 0;height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		display: block;
		position: relative;
		cursor: pointer;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
		&:after {
			opacity: 0;
		}
	}
}
.frm-select-color {
	flex-shrink: 0;
	display: block;
	width: 24px;height: 24px;
	overflow: hidden;
	label {
		padding: 0;
		width: 100%;
		height: 24px;
		cursor: pointer;
	}
	.elm-ico {
		width: 24px;height: 24px;
		border-radius: 50%;
		img, svg {
			width: 100%;
		}
	}
}
.frm-select-button {
	line-height: 1;
	flex-shrink: 0;
	label {
		display: block;
		height: 32px;
		border: 1px solid var(--clr-border);
		text-align: center;
		line-height: 30px;
		background: #fff;
		transition: all ease 0.2s;
		font-size: 14px;
		color: var(--clr-light);
		font-weight: 500;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		cursor: pointer;
		&:hover {
			color: var(--clr-base-dark);
		}
	}
	input {
		&:checked {
			&~label {
				background-color: #E4E4E4;
				color: var(--clr-base-dark);
			}
		}
	}
}
.frm-select-button-small {
	input {
		&:checked {
			&~label {
				background-color: #091119;
				color: #fff;
			}
		}
	}
	label {
		height: 24px;
		line-height: 22px;
		border: 1px solid #091119;
		transition: all ease 0.2s;
		padding: 0 7px;
		border-radius: 12px;
		font-size: 12px;
		letter-spacing: -0.01em;
		color: #091119;
		max-width: 100%;
		position: relative;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: center;
		&:hover {
			background-color: #091119;
			color: #fff;
		}
	}	
}
.frm-select {
	&.inp-light {
		color: #fff;
		label {
			&:before {
				border-color: #fff;
			}
			&:after {
				filter: brightness(0) invert(1);
			}
		}
		a {
			&:hover {
				color: #fff;
			}
		}
	}
	input {
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		min-height: 24px;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: -0.01em;
		padding-left: 36px;
		display: flex;
		align-items: center;
		&:before, &:after {
			content: "";
			display: block;
			width: 20px;height: 20px;
			position: absolute;
			top: 12px;
			left: 12px;
			margin: -10px 0 0 -10px;
			border: 1px solid var(--clr-base);
		}
		&:after {
			border-radius: 0;
			border: none;
			background: url(../img/icons/chk.svg) center / 24px auto no-repeat;
			opacity: 0;
		}
	}
	a {
		color: inherit;
		&:hover {
			color: var(--clr-att);
		}
	}
}
.frm-field-input-action {
	position: relative;
	line-height: 1;
	.button-field-clear {
		width: 24px;height: 24px;
		z-index: 3;
		cursor: pointer;
		position: absolute;
		top: 50%;right: 20px;
		margin-top: -12px;
		display: none;
	}
	&.inp-valid {
		.button-field-clear {
			display: block;
		}
	}
}
.frm-main-button {
	display: flex;
	.field-input {
		flex: 1;
		padding: 0 1.6rem 0 0;
	}
	.field-button {
		flex-shrink: 0;
		.btn {

		}
	}
}
.frm-main-search {
	position: relative;
	line-height: 1;
	.form-input {
		height: 42px;
		border-radius: 0;
		border: 1px solid var(--clr-border);
		background-color: #fff;
		padding-left: 44px;
		background-image: url(../img/icons/search-light.svg);
		background-repeat: no-repeat;
		background-size: 24px auto;
		background-position: 12px center;
		font-size: 16px;
		letter-spacing: -0.16px;
		color: var(--clr-base);
		.fi;
	}
}
@media (min-width: 1024px) {
	.frm-main-search {
		.form-input {
		}
	}
}